body>footer, body>footer h3, body>footer a:link, body>footer a:visited, section.cards>a {
  background-color: #94E1F3;
}

section.cards>a:hover {
  border-right: none;
  border-bottom: none;
}

#bpmn-canvas {
  height: 60vh;
  border: 1px solid lightgrey;
  border-radius: 2px;
}

#bpmn-canvas a[href="http://bpmn.io"] img {
  max-width: 25px !important;
}
